# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# SQLite databases
*.db
*.sqlite3

# Environment variables & secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
